.profile {
  background-color: coral;
}
.profile_name {
  font-size: 20px;
}
.profile_cover {
  max-width: 100%;
}
.add_post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 30px;
}